{% extends 'base.html' %}
{% load static %}
{% static "img" as baseUrl %}


{% block content %}

      <!-- Navbar End-->
   
      <div id="heading-breadcrumbs">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">Current balance:{{balance}}LE</h1>
              {% for message in messages %}
              <h1>{{ message }} </h1>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container">
          <div class="row bar">
            <div class="col-md-12">
              
              <div class="products-big">
                <div class="row products">
            
                  
                  
                  
                      <div class="ribbon-holder">
                        
                      </div>
                    </div>
                  </div>
                  
                  <div class="row products products-big">
                    {%for prod in prods %}
                    <div class="col-lg-4 col-md-6">
                      <div class="product">
                        <div class="image"><a href="/single_product/show_product/{{prod.pk}}"><img src="{{prod.img.url}}" alt="" class="img-fluid image1"></a></div>
                        <div class="text">
                          <h3 class="h5" style="margin-bottom: 0em;"><a href="/single_product/show_product/{{prod.pk}}">{{prod.name}}</a></h3>
                          <h6 style="margin: 0em;" style="text-transform: lowercase;">in stock: {{prod.quantity}}</h6>
                        <div class="single-review" style="margin:0em;">
                          <div class="review-heading">
                            
                              <div class="review-rating" style="position:initial">
                                  <i class="fa fa-star{% if prod.rate < 1 %}-o empty{% endif %}"></i>
                                  <i class="fa fa-star{% if prod.rate < 2 %}-o empty{% endif %}"></i>
                                  <i class="fa fa-star{% if prod.rate < 3 %}-o empty{% endif %}"></i>
                                  <i class="fa fa-star{% if prod.rate < 4 %}-o empty{% endif %}"></i>
                                  <i class="fa fa-star{% if prod.rate < 5 %}-o empty{% endif %}"></i>
                                  
                              </div>
                          </div></div>
                          <h6 style="margin: 0em;" style="text-transform: lowercase;">{{prod.rate}}/5</h6>
                          {% if prod.offer %}
                          <p class="price">
                            <del>${{prod.price}}</del>${{prod.new_price}}
                            

                            <td><a href="/dashboard/delete_product/{{prod.pk}}"><i class="fa fa-trash-o"></i></a></td>
                          </p>
                          {% else %}
                          <p class="price">${{prod.price}}</p>  
                          

                          <td><a href="/dashboard/delete_product/{{prod.pk}}"><i class="fa fa-trash-o"></i></a></td>
                          {% endif %}
                        </div>
                        {% if prod.offer %}
                        <div class="ribbon-holder">
                          <div class="ribbon sale" style="background: red;font:xx-small">{{prod.offer}}%OFF</div>
                          
                        </div>
                        {% endif %}
                        <li class="nav-item dropdown active"><a href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle">Edit <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                        <form action="/dashboard/edit_product/{{prod.pk}}" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
    
                         <li> <div class="form-group">
                            <label for="price">Product Price</label>
                            <input name="price" type="number" class="form-control">
                          </div></li>
                          <li><div class="form-group">
                            <label for="offer">Offer% (if not put 0)</label>
                            <input name="offer" type="number" class="form-control" placeholder="0">
                          </div></li>
                          <li><div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input name="quantity" type="number" class="form-control">
                          </div></li>
                          
                          <li><div class="text-center">
                            <button type="submit" class="btn btn-lg btn-success"></i>Edit Product</button>
                          </div>
                        
                        </li>
                      
                        </form>
                      </div>
                      
                      </div>
                    </div>
                  
                    {% endfor %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 banner mb-small text-center"><a href="#"><img src="img/banner2.jpg" alt="" class="img-fluid"></a></div>
              </div>
              <div class="pages">
                
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                  <ul class="pagination">
                    <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-double-left"></i></a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="heading-breadcrumbs">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">Add New Product</h1>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="box">
                <h2 class="text-uppercase">Product Details</h2>

                <form action="/dashboard/add_product" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  
                  <div class="form-group">
                    <label for="name"> Product Name</label>
                    <input name="name" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="category">Category</label>
                    <br>
              
                    <select name="category" size="3" style="width: 100%;" class="form-control">
                      <option value="Accessories">Accessories</option>
                      <option value="Phones">Phones</option>
                      <option value="Computers">Computers</option>
                      <option value="Clothes">Clothes</option>
                      <option value="Uncategorized">Uncategorized</option>
                    </select>
                    
                  </div>                  
                  <div class="form-group">
                    <label for="description">Product Descriprion</label>
                    <input name="descrription" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="price">Product Price</label>
                    <input name="price" type="number" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="offer">Offer% (if not put 0)</label>
                    <input name="offer" type="number" class="form-control" placeholder="0">
                  </div>
                  <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input name="quantity" type="number" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="img">Upload Product Image</label>
                    <input type='file' accept="image/*"  name = "photo1" >
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-success"></i>ADD Product</button>
                  </div>
                </form>
              
              </div>
            </div>
            <div id="content">
              <div class="container">
                <div class="row">
                  <div class="col-lg-10">
                    <div class="box">
                      <h2 class="text-uppercase">Adding new shop</h2>
      
                      <form action="/dashboard/add_shop" method="POST">
                        {% csrf_token %}
                        
                        <div class="form-group">
                          <label for="shop_name"> Shop Name</label>
                          <input name="shop_name" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="facebook_seller">Seller facebook page</label>
                          <input name="facebook_seller" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="gmail_seller">Gmail account</label>
                          <input name="gmail_seller" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="website_seller">Seller website</label>
                          <input name="website_seller" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="phonenumber">Phone number</label>
                          <input name="phonenumber" type="number" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="addrress">Addrress</label>
                          <input name="addrress" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="method_of_received_money">Method of receiving money</label>
                          <input name="method_of_received_money" type="text" class="form-control">
                        </div>                  
                        
                        
                        
                        <div class="text-center">
                          <button type="submit" class="btn btn-lg btn-success"></i>ADD shop</button>
                        </div>
                      </form>
                    
                    </div>
                  </div>

            </div>
          </div>
        </div>
      </div>

        </div>
      <!-- GET IT-->
      <script type="text/javascript">
        function myFunction1() {​​​​
          var x = document.getElementById("myDIV");
          if (x.style.display == "none") {​​​​
              x.style.display = "block";
            }​​​​ else {​​​​
              x.style.display = "none";
            }​​​​
          }​​​​
          
          
      </script>
{% endblock %}