

<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
        

    
    <title>Dashboard</title>
  
        
    
</head>
<body>
      <form action="dashboard/add_product"method="POST">
        {% csrf_token %}
         <input type="text" name="name" placeholder="product name" required=""><br>
         <input type="text" name="category" placeholder="category" required=""><br>
         <input type="text" name="discription" placeholder="discription" required=""><br>
         <input type="number" name="price" placeholder="price" required=""><br>
         <input type="number" name="quantity" placeholder="quantity" required=""><br>
         <input type="number" name="offer" placeholder="offer" required=""><br>
         <input type="file" name="img">
        <br>
         <input type="submit">
        





        
     </form>

</body>
</html>