{% extends 'base.html' %}
{% load static %}
{% static "img" as baseUrl %}


{% block content %}



<head>
  <title>Ta3refa-Home</title></head>
      
      <div id="heading-breadcrumbs">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">Category with left sidebar</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Category with left sidebar</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% for message in messages %}
      <div role="alert" class="alert alert-warning alert-dismissible">
        <button type="button" data-dismiss="alert" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>{{ message }}
      
      {% endfor %}
    </div>
      <div id="content">
        <div class="container">
          <div class="row bar">
            <div class="col-md-3">
              <!-- MENUS AND FILTERS-->
              <div class="panel panel-default sidebar-menu">
                <div class="panel-heading">
                  <h3 class="h4 panel-title">Categories</h3>
                </div>
                <div class="panel-body">
                  <ul class="nav nav-pills flex-column text-sm category-menu">
                    <li ></a>
                      <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a href="/shop_category/Phones" class="nav-link">Cell Phones</a></li>
                        <li class="nav-item"><a href="/shop_category/Computers" class="nav-link">Computers and Laptops</a></li>
                        <li class="nav-item"><a href="/shop_category/Accessories" class="nav-link">Accessories</a></li>
                        <li class="nav-item"><a href="/shop_category/Clothes" class="nav-link">Clothes</a></li>
                      </ul>
                    </li>
                 
                  </ul>
                </div>
              </div>
              <div class="panel panel-default sidebar-menu">
                <div class="panel-heading">
                  <h3 class="h4 panel-title">Favourites</h3>
                </div>
                <div class="panel-body">
                  <ul class="nav nav-pills flex-column text-sm category-menu">
                    <li ></a>
                      <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a href="/favourite" class="nav-link">Favourite Products</a></li>
                        
                      </ul>
                    </li>
                 
                  </ul>
                </div>
              </div>
              <div class="panel panel-default sidebar-menu">
                <div class="panel-heading d-flex align-items-center justify-content-between">
                  <h3 class="h4 panel-title">Filters</h3><a href="#" class="btn btn-sm btn-danger"><i class="fa fa-times-circle"></i><span class="d-none d-md-inline-block">Clear</span></a>
                </div>
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <li>Price  (10)</li>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <li>Star Rating  (12)</li>
                          <input type="checkbox"> 3 and more <br>
                          <input type="checkbox"> 4 and more <br>
                        </label>
                      </div>
                    </div>
                    <button class="btn btn-sm btn-template-outlined"><i class="fa fa-pencil"></i> Apply</button>
                  </form>
                </div>
              </div>
              <!-- <div class="panel panel-default sidebar-menu">
                <div class="panel-heading d-flex align-items-center justify-content-between">
                  <h3 class="h4 panel-titlen">Colours</h3><a href="#" class="btn btn-sm btn-danger"><i class="fa fa-times-circle"></i><span class="d-none d-md-inline-block">Clear</span></a>
                </div>
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"><span class="colour white"></span> White (14)
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"><span class="colour blue"></span> Blue (10)
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"><span class="colour green"></span>  Green (20)
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"><span class="colour yellow"></span>  Yellow (13)
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"><span class="colour red"></span>  Red (10)
                        </label>
                      </div>
                    </div>
                    <button class="btn btn-sm btn-template-outlined"><i class="fa fa-pencil"></i> Apply</button>
                  </form>
                </div>
              </div> -->
              
            </div>
            <div class="col-md-9">
             
              <div class="row products products-big">
                {%for prod in prods %}
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="image"><a href="/single_product/show_product/{{prod.pk}}"><img src="{{prod.img.url}}" alt="" class="img-fluid image1"></a></div>
                    <div class="text">
                      <h3 class="h5"><a href="/single_product/show_product/{{prod.pk}}">{{prod.name}}</a></h3>
                    
                    <div class="single-review" style="margin:0em;">
                      <div class="review-heading">
                        
                          <div class="review-rating" style="position:initial">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o empty"></i>
                              <i class="fa fa-star-o empty"></i>
                          </div>
                      </div></div>
                    
                      {% if prod.offer %}
                      <p class="price">
                        <del>${{prod.price}}</del>
                        <p class="price">${{prod.new_price}}</p> 
                      </p>
                      {% else %}
                      <p class="price">${{prod.price}}</p>  
                      {% endif %}
                    </div>
                    {% if prod.offer %}
                    <div class="ribbon-holder">
                      <div class="ribbon sale" style="background: red;font:xx-small">{{prod.offer}}%OFF</div>
                    </div>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
                
              <div class="row">
               
              </div>
              <div class="pages">
                <p class="loadMore text-center"><a href="#" class="btn btn-template-outlined"><i class="fa fa-chevron-down"></i> Load more</a></p>
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                  <ul class="pagination">
                    <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-double-left"></i></a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- GET IT-->

      <!-- FOOTER -->

{% endblock %}