{% extends 'base.html' %}
{% load static %}
{% static "img" as baseUrl %}


{% block content %}

  <head>
  <title>{{product.name}}</title></head>

      <div id="heading-breadcrumbs">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">{{product.name}}</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                
                <li class="breadcrumb-item active">{{product.category}}</li>
                <li class="breadcrumb-item active">{{product.name}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container">
          <div style="margin-left: 0%; margin-top:2%;width:120%;display:inline--block;" class="col-sm-12">
            <img src="{{product.img.url}}" style="width:40%; margin-left:0%;">
            <p class="text-center" style="display: inline-block;width:20%;">
              <a href="/checkout/add_to_cart/{{product.pk}}">
                <button type="submit" class="btn btn-template-outlined"><i class="fa fa-shopping-cart"></i> Add to cart</button>
              </a>

              {% if product.offer %}
              <p class="price"  style="display: inline-block;width:10%;color:red;">{{product.offer}}% offer!</p>
              <p class="price"  style="display: inline-block;width:20%;">Price:{{product.new_price}}$</p>
              
              {% else %}
              <p class="price"  style="display: inline-block;width:20%;">Price:{{product.price}}$</p>
              {%endif%}
              <p class="price"  style="display: inline-block;width:10%;margin-left:-7%;">{{product.quantity}} in stock</p>
            
              <button type="submit" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="btn btn-default"><i class="fa fa-heart-o"></i></button>
              <br><br>
              <div class="single-review" style="position: absolute;">
                <div class="review-heading">
                  <a>Rating:</a>
                    <div class="review-rating pull-right">
                      <i class="fa fa-star{% if product.rate < 1 %}-o empty{% endif %}"></i>
                      <i class="fa fa-star{% if product.rate < 2 %}-o empty{% endif %}"></i>
                      <i class="fa fa-star{% if product.rate < 3 %}-o empty{% endif %}"></i>
                      <i class="fa fa-star{% if product.rate < 4 %}-o empty{% endif %}"></i>
                      <i class="fa fa-star{% if product.rate < 5 %}-o empty{% endif %}"></i>
                    </div>
                </div></div>
            </p>
            
          </div>
         
          <div class="row bar">
            <!-- LEFT COLUMN _________________________________________________________-->
           
            <div class="col-lg-12">
              
              
              <p class="goToDescription"><a href="#details" class="scroll-to text-uppercase">Scroll to product details, material & care and sizing</a></p>
              <div id="productMain" class="row">
               
               
              </div>
              <div id="details" class="box mb-4 mt-4">
                <p></p>
                <h4>Product details</h4>
                <p>{{product.description}}</p>
              </div>
 


              <div class="col-md-12">
                <div class="product-tab">
                    <ul class="tab-nav">
                        <li class="active"><h3 data-toggle="tab" >Product Reviews</h3></li>
                    </ul>

            
                            <div class="row" >
                                <div class="col-md-6" style="overflow-y:auto;">
                                    <div class="product-reviews" >
                                      {% if product.comment %}
                                      {% for user_name,rating,comment in product.comment %}
                                      
                                      <div class="single-review">
                                        <div class="review-heading">
                                            <div><a style="color: blue;"><i class="fa fa-user-o"></i> {{user_name}}</a></div>
                                            Wrote:
                                            <div class="review-rating pull-right">
                                             {% if rating == '1' %}
                                             <i class="fa fa-star"></i>
                                             <i class="fa fa-star-o empty"></i>
                                             <i class="fa fa-star-o empty"></i>
                                             <i class="fa fa-star-o empty"></i>
                                             <i class="fa fa-star-o empty"></i>
                                              {% elif rating == '2' %}
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star-o empty"></i>
                                              <i class="fa fa-star-o empty"></i>
                                              <i class="fa fa-star-o empty"></i>
                                              {% elif rating == '3' %}
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star-o empty"></i>
                                              <i class="fa fa-star-o empty"></i>
                                              {% elif rating == '4' %}
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star-o empty"></i>
                                              {% elif rating == '5' %}
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              {% elif rating == '0' %}
                                              <i class="fa fa-star-o empty"></i>
                                              <i class="fa fa-star-o empty"></i>
                                              <i class="fa fa-star-o empty"></i>
                                              <i class="fa fa-star-o empty"></i>
                                              <i class="fa fa-star-o empty"></i>


                                             {% endif %}
                                            </div>
                                        </div>
                                        <div class="review-body">
                                            <p>{{ comment }}</p>
                                        </div>
                                    </div>
                                      {% endfor %}
            
                                        <ul class="reviews-pages">
                                            <li class="active">1</li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                        </ul>
                                        {% else %}<P style="font-size: medium;">No Reviews has been made to this product</P>
                                        {% endif %}
                                    </div>
                                </div>


                                <!--user commentttttttttttttttttttttttttttttttttttttttttttttttttttttttttt-->
                                <div class="col-md-6">
                                  {% if user.is_authenticated %}
                                    <h3 class="text-uppercase" >Write Your Review</h3>
                                    <form class="review-form" action="/single_product/review/{{product.id}}" method="POST">
                                      {% csrf_token %}
                                      <div class="form-group">
                                       <h4>Your name will be shown as: <a style="color: blue;"><i class="fa fa-user-o"></i> {{user.username}}</a></h4>
                                      </div>
                                      <div class="form-group">
                                        <textarea name="comment" class="form-control" placeholder="Your review"></textarea>
        
                                      </div>
                                        <div class="form-group">
                                          
                                            <div class="input-rating" name="ratee">
                                                <strong class="text-uppercase">Your Rating: </strong>
                                                <div class="stars">
                                                    <input type="radio" id="star5" name="rating5" value="5" /><label for="star5"></label>
                                                    <input type="radio" id="star4" name="rating4" value="4" /><label for="star4"></label>
                                                    <input type="radio" id="star3" name="rating3" value="3" /><label for="star3"></label>
                                                    <input type="radio" id="star2" name="rating2" value="2" /><label for="star2"></label>
                                                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-template-outlined" >Submit</button>
                                    </form>
                                </div>
                                {% else %}
                                <h4 style="color: rgb(23, 70, 165);text-align: center;">Please Sign in to add your review</h4>
                                {% endif %}
                            </div>
            
            
            
                       
                  
                </div>
            </div>
            



              <div id="product-social" class="box social text-center mb-5 mt-5">
                <h4 class="heading-light">Show it to your friends</h4>
                <ul class="social list-inline">
                  <li class="list-inline-item"><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a></li>
                  <li class="list-inline-item"><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
              
            
              
                
                  
                   
              
              
            </div>
          </div>
        </div>
      </div>
      <!-- GET IT-->
  {% endblock %}