{% extends 'base.html' %}
{% load static %}
{% static "img" as baseUrl %}


{% block content %}
<head>
  <title>{{product.name}}</title></head>
      
      <div id="heading-breadcrumbs">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">Category with right sidebar</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Category with right sidebar</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container">
          <div class="row bar">
            <div class="col-md-9">
              
              <div class="row products products-big">
                {%for prod in prods %}
                <div class="col-lg-4 col-md-6">
                  <div class="product">
                    <div class="image"><a href="/single_product/show_product/{{prod.pk}}"><img src="{{prod.img.url}}" alt="" class="img-fluid image1"></a></div>
                    <div class="text">
                      <h3 class="h5"><a href="/single_product/show_product/{{prod.pk}}">{{prod.name}}</a></h3>
                      <h6 style="margin: 0em;" style="text-transform: lowercase;">in stock: {{prod.quantity}}</h6>
                      <div class="single-review" style="margin:0em;">
                        <div class="review-heading">
                          
                            <div class="review-rating" style="position:initial">
                                <i class="fa fa-star{% if prod.rate < 1 %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if prod.rate < 2 %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if prod.rate < 3 %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if prod.rate < 4 %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if prod.rate < 5 %}-o empty{% endif %}"></i>
                            </div>
                        </div></div>
                        <h6 style="margin: 0em;" style="text-transform: lowercase;">{{prod.rate}}/5</h6>
                        {% if prod.offer %}
                        <p class="price">
                          <del>${{prod.price}}</del>${{prod.new_price}}
                        </p>
                        {% else %}
                        <p class="price">${{prod.price}}</p>  
                        {% endif %}
                      </div>
                      {% if prod.offer %}
                      <div class="ribbon-holder">
                        <div class="ribbon sale" style="background: red;font:xx-small">{{prod.offer}}%OFF</div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
                
              </div>
              <div class="row">
                <div class="col-md-12 banner mb-small"><a href="#"><img src="img/banner2.jpg" alt="" class="img-fluid"></a></div>
              </div>
              <div class="pages">
                <p class="loadMore text-center"><a href="#" class="btn btn-template-outlined"><i class="fa fa-chevron-down"></i> Load more</a></p>
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                  <ul class="pagination">
                    <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-double-left"></i></a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-md-3">
              <!-- MENUS AND FILTERS-->
              <div class="panel panel-default sidebar-menu">
                <div class="panel-heading">
                  <h3 class="h4 panel-title">Categories</h3>
                </div>
                <div class="panel-body">
                  <ul class="nav nav-pills flex-column text-sm category-menu">
                    <li class="nav-item"><a href="shop-category.html" class="nav-link d-flex align-items-center justify-content-between"><span>Men </span><span class="badge badge-secondary">42</span></a>
                      <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a href="/shop_category/Phones" class="nav-link">Cell Phones</a></li>
                        <li class="nav-item"><a href="/shop_category/Computers" class="nav-link">Computers and Laptops</a></li>
                        <li class="nav-item"><a href="/shop_category/Accessories" class="nav-link">Accessories</a></li>
                        <li class="nav-item"><a href="/shop_category/Clothes" class="nav-link">Clothes</a></li>
                      </ul>
                    </li>
                  
                  </ul>
                </div>
              </div>

              <div class="panel panel-default sidebar-menu">

                <div class="panel-body">
                  <form action="/filter" method="GET">
                    <div class="form-group">
                      <label for="filterr">Star rating:</label>
                      <br>
                      <select name="rate" size="6" style="width: 100%;overflow:hidden" class="form-control">
                        <option value="none" selected>None</option>
                        <option value=1>  
                          ☆ & more
                    </option>
                        <option value=2>☆☆ & more</option>
                        <option value=3>☆☆☆ & more</option>
                        <option value=4>☆☆☆☆ & more</option>
                        <option value=5>☆☆☆☆☆ only</option>
                      </select>
                      
                      <label for="price_filter">Price:</label>
                      <br>
                      <select name="price_filter" size="1" style="width: 100%;overflow:hidden" class="form-control">
                        <option value = 1000> 0-1000$</option>
                        <option value = 2000>1001-2000$</option>
                        <option value = 3000>2001-3000$</option>
                        <option value = 4000>3001-4000$</option>
                        <option value = 5000>4001-5000$</option>
                        <option value = 6000>6001$ & more</option>
                      </select>

                    </div> 
                     
                      <button type="submit"   class="btn btn-sm btn-template-outlined"><i class="fa fa-pencil"></i> Apply</button>
                     
                  </form>
                </div>
              </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <!-- GET IT-->
{% endblock %}